@import "~office-ui-fabric-react/dist/sass/References.scss";
@import "~bootstrap/dist/css/bootstrap.min.css";

.navigateContent {
  background-color: #f6f6f4;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  text-align: inherit;
  color: #000000;

  header {
    background-color: #ffd100;
    display: flex;
    align-items: center;
    padding: 3%;
  }
  .page-title {
    font-size: 220%;
  }
  .page-description {
    font-size: 120%;
    color: #4f4f4f;
  }
  .search-box {
    height: 54px;
    float: left;
  }
  .search-box:lang(ar) {
    float: right;
  }
  .btn-search {
    background: #fff url(./images/icon_search.png) no-repeat center center;
    height: 50px;
    width: 50px;
    border: 0px;
    margin-left: -54px;
    float: left;
    margin-top: 2px;
  }
  .btn-search:lang(ar) {
    margin-right: -54px;
    float: right;
    margin-top: 2px;
  }
  .search-box::placeholder {
    font-style: italic;
    opacity: 1; /* Firefox */
  }

  .search-box:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-style: italic;
  }

  .search-box::-ms-input-placeholder {
    /* Microsoft Edge */
    font-style: italic;
  }
  .entity-name {
    font-size: 145%;
    margin: 15px;
    width: 100%;
  }

  .entity-name:lang(ar) {
    text-align: right;
  }

  .category-name {
    border-bottom: 1px solid #ddd9d9;
    padding: 15px 20px;
    background-color: #f9f9f9;
    text-transform: uppercase;
    font-size: 105%;
  }
  .category-name a {
    background: url(./images/icon_arrow_right.png) no-repeat right center;
    text-transform: uppercase;
    display: block;
    background-size: 3%;
  }
  .category-name a:lang(ar) {
    background: url(./images/icon_arrow_left.png) no-repeat left center;
    text-align: right;
  }
  .category-items {
    margin: 0;
    padding: 0;
    border: 1px solid #afafae;
  }
  .category-items li {
    list-style: none;
    padding: 15px 20px;
    font-size: 100%;
    background-color: white;
  }
  .category-items li a {
    background: url(./images/icon_arrow_right.png) no-repeat right center;
    font-size: 100%;
    display: block;
    color: #2f80ed;
    background-size: 3%;
  }
  .category-items li a:lang(ar) {
    background: url(./images/icon_arrow_left.png) no-repeat left center;
    text-align: right;
  }
  .category-row .col-md-4 {
    padding-bottom: 20px;
  }
}
@media (min-width:576px) {
  .navigateContent {
      min-width:540px;
  }
}
@media (min-width:768px) {
  .navigateContent {
      min-width:720px
  }
}
@media (min-width:992px) {
  .navigateContent {
      min-width: 960px
  }
}
@media (min-width:1200px) {
.navigateContent {
  min-width: 1140px
  }
}
