.tabs {
  .is-selected {
    font-weight: bold;
  }
  .is-selected:before {
    border-bottom: 3px solid #333 !important;
  }
}
.play {
    border: 2px solid #0c0;
    color: #0c0;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    padding: 0 2px 3px;
    margin-right: 7px;

  i {
    font-size: 10px;
    margin-left: 3px;
    margin-top: 4px;
    font-weight: bold;
  }
  i:lang(ar){
    margin-right: 3px;
  }
}
.play:lang(ar){
  margin-left: 7px;
  margin-right: 0px;

}
.approve {
  border: 2px solid #00cc00;
  color: #00cc00;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  padding: 0px 2px 3px;
  padding-top: 0px;
  margin-right: 7px;
  i {
    font-size: 10px;
    margin-left: 2px;
    margin-top: 4px;
    font-weight: bold;
  }
  i:lang(ar){
    margin-right: 2px;
  }
}
.approve:lang(ar){
  margin-left: 7px;
  margin-right: 0px;

}
.playDisabled {
  border: 2px solid;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  padding: 0px 2px 3px;
  padding-top: 0px;
  margin-right: 7px;
  i {
    font-size: 10px;
    margin-left: 3px;
    margin-top: 4px;
    font-weight: bold;

  }
  i:lang(ar){
    margin-right: 2px;
  }
}
.playDisabled:lang(ar){
  margin-left: 7px;
  margin-right: 0px;

}
.stop {
  margin-right: 7px;
  i {
    font-size: 22px;
    color: black;
    margin-top: 2px;
  }
}
.stop:lang(ar) {
  margin-left: 7px;
  margin-right: 0px;

}

.reject {
  border: 2px solid #ff3333;
  color: #ff3333;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  padding: 0px 2px 3px;
  padding-top: 0px;
  margin-right: 7px;
  i {
    font-size: 9px;
    margin-left: 3px;
    margin-top: 5px;
    font-weight: bold;
  }
  i:lang(ar){
    margin-right: 3px;
  }
}
.reject:lang(ar){
  margin-right: 0px;
  margin-left: 7px;

}
.datalist {
  .ms-DetailsHeader-cellTitle {
    font-weight: 500;
  }
}
.modaldialog {
  font-weight: normal;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  .ms-Dialog-title {
    padding: 10px 15px;
    font-size: 20px;
  }
  .ms-Overlay{
    background-color: rgba(0, 0, 0, 0.5);
  }
  .description, .ms-Dialog-subText, .ms-Label{
    font-weight: normal;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
  }
}

