/*Sector code*/

span.ms-Button-textContainer {
    color: #333333;
    font-weight: 600;
}

span.ms-HorizontalNavItem a.ms-HorizontalNavItem-link {
    color: #333333;
    font-weight: 600;
}

button#HorizontalNav0EditLink {
    color: #333333;
    font-weight: 600;
}

i.ms-HorizontalNav-chevronDown {
    color: #333333;
    font-weight: 600;
}

a.ms-Link {
    color: #2F80ED;
    font-weight: 400;
}

    a.ms-Link:hover {
        color: #2F80ED;
        font-weight: 400;
    }

button.ms-HorizontalNavItem-link {
    color: #333333 !important;
    font-weight: 600;
}

i.ms-Icon {
    color: #333333 !important;
    font-weight: 600;
}

    i.ms-Icon:hover {
        color: #333333 !important;
        font-weight: 600;
    }

span[data-automationid="SiteHeaderTitle"] a {
    color: #333333;
}

span.ms-Button-label {
    color: #000000;
}

button#FooterEditLink {
    color: #000000;
}

.ms-ContextualMenu-icon {
    color: #000000;
}

span.ms-Button-textContainer span {
    color: #333333 !important;
}

button[name="Copy link"] {
    display: none;
}


a[data-navigationcomponent="SiteHeader"] {
    color: black;
    border-color: black;
    border-width: 2px;
}

[data-sp-feature-tag="Site header host"] {
    background-color: rgb(0, 156, 173) !important;
}

[data-automationid="SiteHeader"] {
    background-color: rgb(0, 156, 173) !important;
}

div[class^="logoCell"] {
    border-color: black;
    border: 2px solid;
}

a.ms-Link {
    color: #2F80ED;
    font-weight: 400;
}

    a.ms-Link:hover {
        color: #2F80ED;
        font-weight: 400;
    }

/*Sector code ended*/
