/*Market place code*/

/*span.ms-Button-textContainer {
    color: #333333;
    font-weight: 600;
}

span.ms-HorizontalNavItem a.ms-HorizontalNavItem-link {
    color: #333333;
    font-weight: 600;
}

button#HorizontalNav0EditLink {
    color: #333333;
    font-weight: 600;
}

i.ms-HorizontalNav-chevronDown {
    color: #333333;
    font-weight: 600;
}*/

a.ms-Link {
    color: #2F80ED;
    font-weight: 400;
}

    a.ms-Link:hover {
        color: #2F80ED;
        font-weight: 400;
    }

/*button.ms-HorizontalNavItem-link {
    color: #333333 !important;
    font-weight: 600;
}

i.ms-Icon {
    color: #333333 !important;
    font-weight: 600;
}

    i.ms-Icon:hover {
        color: #333333 !important;
        font-weight: 600;
    }*/

/*span[data-automationid="SiteHeaderTitle"] a {
    color: #333333;
}

span.ms-Button-label{
    color:#000000;
}

button#FooterEditLink{
    color:#000000;
}

.ms-ContextualMenu-icon{
    color:#000000;
}*/

/*Market place code ended*/

/*Health Sector code started*/

/*.root-42 {
    background-color: #ffd100;
}

div.sp-App-hubNav div {
    background-color: #ffd100;
}*/
/*a.ms-HubNav-nameLink.ms-HubNav-link {
    color: #333333;
    font-weight: 600;
}*/

/*div[role="menubar"] a.ms-HorizontalNavItem-link {
    color: #333333;
    font-weight: 600;
}

.ms-HorizontalNavItem-Edit {
    color: #333333;
    font-weight: 600;
}*/
/*Sector code ended*/